.ordered-products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ordered-products .products-header {
    color: #ffff;
    font-size: 25px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    border-bottom: 1px solid #ffff;
}


.ordered-products .counter-products {
    color: #ffff;
    font-size: 18px;
    font-weight: 300;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}