.search-output {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name-food {
    color: #ffff;
    text-align: center;
    font-size: 27px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px solid #ffff;
    padding: 10px;
}