.all-recipes-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 
.recipe-header-text {
    text-align: center;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: italic;
    margin-top: 10px;
    border-bottom: 1px solid #ffff;
    padding: 10px;
    color: #ffff;
}